body{overflow-x:  hidden;}
header .info{padding:10px 0;  }
header .social .fa{padding:0 5px;margin-top:-10px;color:#797a79;float:right;margin-top:10px;      }
header .social .fa-facebook:hover{color: #314987;}
header .social .fa-linkedin:hover{color: #006dc0}
header .social .fa-twitter:hover{color: #22bbf4}
header .social .fa-google-plus:hover{color:#d72a24 }
header .phone-web .phone,header .phone-web .web{padding: 5px;color:#797a79; }
header .phone-web span span{padding-right:5px; }
header nav.navbar{border-top: #e2e2e2 solid 1px;border-radius:0px;height:70px;padding:0;margin: 0;/*background-color:#fff;*/ }
header nav.navbar div.navbar-header{background-color:white;}
header nav.navbar div.navbar-collapse{background-color:white;}
header nav.navbar .navbar-brand img{margin-top:-10px; }
header nav.navbar button.navbar-toggle{background-color:#e2e2e2 }
header nav.navbar button.navbar-toggle span{background-color: #797a79; }
/*header nav.navbar ul.nav {height:100%;  }
header nav.navbar ul.nav li{height:100%; }*/
header nav.navbar ul.nav a{height:70px;text-align:center;color:black;font-size:18px;font-weight:bold     } 
header nav.navbar ul.nav a:hover,header nav.navbar ul.nav a:focus{background-color:#ffffff;border-bottom:#2aace3 solid 4px; } 
header nav.navbar ul.nav a.sign{background-color:#c2c2c2;height:35px;margin-top:15px;text-align:center;padding-bottom:10px;line-height:8px;color:#fcfcfc;margin-right:5px;border-radius:5px;  }
header nav.navbar ul.nav a.login{background-color:#2aace3;height:35px;margin-top:15px;text-align:center;padding-bottom:10px;line-height:8px;color:#fcfcfc;border-radius:5px;}
header nav.navbar ul.nav  form{width:200px;height:220px;border:none;   }
header nav.navbar ul.nav  form input{width:160px;height:35px;padding-right:10px;border:#f2f2f2 solid 1px;}
header nav.navbar ul.nav  form input[type=text]{margin:25px 20px 5px 20px; }
header nav.navbar ul.nav  form input[type=password]{margin:5px 20px 5px 20px; }
header nav.navbar ul.nav  form button{width:130px;height:35px;margin:25px 30px 0 30px;color:#3d3b3e;border:#3d3b3e solid 2px;background-color:white;font-weight:bold;border-radius:15px;        }
header nav.navbar ul.nav  form button:hover{color:white;background-color:#3d3b3e; }
header nav.navbar ul.nav  form a{margin:16px 45px 0 30px;font-weight:normal;font-size:15px;   }
header nav.navbar ul.nav  form a:hover{border:none; }
/*.content .highlight img{height:574px;width: 100%;margin-top:-20px; }*/
header a.navbar-brand img{float: right;padding-bottom:10px; }
header a.navbar-brand{float: right;}
/*.content section{margin-top:-20px;  }*/

.flex-control-paging li a{width:8px;height: 8px;margin-top:-55px;  }
.content .level-search{position:absolute;top:50px;text-align: center }
.content .level-search h2{display:block; }
.content .level-search p{display: block;}
.content .level-search form{border:#e2e2e2 solid 1px;border-radius:5px;text-align:center;margin-top:40px; ;padding:15px 0;background-color:white;       }
.content .level-search form input{height:35px;border-radius:5px;border:#eeeeee solid 1px;background-color:#eeeeee;margin-bottom:2px;padding-left:10px;   }
.content .level-search form select{border:#eeeeee solid 1px;background-color:#eeeeee;margin:0 auto 2px auto;   }
.content .level-search form button{color:white;background-color:#00aeef;border:#00aeef solid 1px;height:33px;margin-top:2px;border-radius:5px;}
.service {text-align:center;}
.service p{font-size:18px;font-weight:bold  }
.service ul.nav-tabs{margin:0 0 0 25%; text-align:center;border:none; }
.service ul.nav-tabs li{text-align: center;  }
.service ul.nav-tabs li a {border:none;color:black;text-align:center }
.service ul.nav-tabs li.active a,.service ul.nav-tabs li.active a:hover,.service ul.nav-tabs li.active a:focus{border-bottom:#00aeef solid 4px; }
.service ul.nav-tabs li a:hover ,.service ul.nav-tabs li a:focus{border-bottom:#00aeef solid 4px;background-color:white;  }
.service .tab-content{margin-top:40px;margin-bottom:40px; }
.service .tab-content span{font-size:50px;color: #c2c2c2; }
.service .tab-content h3{font-weight: normal;color:#3d3b3e;}
.service .tab-content p{font-weight: normal;color:#6f6e70;}
.service .tab-content div.row div{height:280px;border-bottom:#00aeef solid 3px;margin-bottom:15px;}
.goals {background:url(../img/goals.png);background-size: cover;text-align:center }
.goals h2{color:white; }
footer{border-top:#00aeef solid 3px;background-color:#222222; }
footer .row div{margin-top:50px;color: #a9a9a9;text-align:right;margin-bottom:50px;   }
footer .row div.details img{margin-bottom:20px;}
footer .row div.details p{font-size:18px;}
footer .row div.tweet h3{font-size:30px;margin-bottom:20px; }
footer .row div.tweet ul{list-style:none; }
footer .row div.tweet ul li a{color:#a9a9a9;font-size:18px;}
footer .row div.links h3{font-size:30px;margin-bottom:20px; }
footer .row div.links ul{list-style:none; }
footer .row div.links ul li a{color:#a9a9a9;font-size:18px;}
footer div.copy-right{background-color:#131313;}
footer div.copy-right{padding:15px 0;}
footer div.copy-right span{font-size:15px;color:#f6f6f6;float:right; }
